/movies-tv-shows-recommendation/indices_df.csv
./movies-tv-shows-recommendation/indices_df.csv


/movies-tv-shows-recommendation/netflix_titles.csv
./movies-tv-shows-recommendation/netflix_titles.csv


/songs-recommender/song-dataset.csv
./songs-recommender/song-dataset.csv

/songs-recommender/clean_songs_similarities_score.csv
./songs-recommender/clean_songs_similarities_score.csv

/product-recommendation-using-surprise/ratings.csv
./product-recommendation-using-surprise/ratings.csv

/StreamLit-app/clean_songs_similarities_score.csv
./StreamLit-app/clean_songs_similarities_score.csv

/StreamLit-app/ndarray_data.npy
./StreamLit-app/ndarray_data.npy

/StreamLit-app/few_movies.csv
./StreamLit-app/few_movies.csv

/StreamLit-app/indices_df.csv
./StreamLit-app/indices_df.csv
